/** -- Accueil -- **/

.banner {
    position: relative;
    width: 100vw;
    height: 35vh;
    overflow: hidden;
}

.banner > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
    opacity: 0.8;
    animation: zoomIn 5s infinite;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
}

.banner-text > h1 {
    font-size: 48px;
}

.banner-text > h2 {
    margin-top: 0px;
}

#progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: white;
}

#description > h2 {
    color: #268110;
}

#description {
    padding: 15px;
    padding-top: 1px;
    position: relative;
    margin: 20px;
    background-color: #fff8f8;
    border-radius: 10px;
    border: #1c1515;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#description:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#presentation {
    padding: 15px;
    padding-top: 1px;
    position: relative;
    margin: 20px;
    background-color: #fff8f8;
    border-radius: 10px;
    border: #1c1515;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#presentation:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#presentation > h2 {
    color: #268110;
}

a {
    color: #268110;
}