/** -- À propos -- **/

#listeprojet ol{
    list-style-type: upper-alpha;
}

#bureau>h1{
    color: green;
}

#bureau {
    padding: 15px;
    position: relative;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: #1c1515;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}   

#bureau:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#projets>h1{
    color: green;
}

#projets {
    padding: 15px;
    position: relative;
    margin: 20px;
    margin-bottom: 8vh;
    background-color: #ffffff;
    border-radius: 10px;
    border: #1c1515;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}   

#projets:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#pA>h3{
    color: green;
}

#pA {
    padding: 15px;
    position: relative;
    margin: 15px;
    margin-left: -3vh;
    background-color: #fff8f8;
    border-radius: 10px;
    border: #1c1515;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}   

#pA:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#pB>h3{
    color: green;
}

#pB {
    padding: 15px;
    position: relative;
    margin: 15px;
    margin-left: -3vh;
    background-color: #fff8f8;
    border-radius: 10px;
    border: #1c1515;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}   

#pB:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#pC>h3{
    color: green;
}

#pC {
    padding: 15px;
    position: relative;
    margin: 15px;
    margin-left: -3vh;
    background-color: #fff8f8;
    border-radius: 10px;
    border: #1c1515;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}   

#pC:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}