/** -- Association -- **/

#bureau > h1 {
    color: #268110;
}

#bureau {
    padding: 15px;
    padding-top: 1px;
    position: relative;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: #1c1515;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#bureau:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#bureau > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#bureau > ul > li {
    text-align: center;
    font-weight: bold;
}

#listeprojet ol {
    list-style-type: upper-alpha;
}

/* ::marker pour la modification du style des puces */
#listeprojet ol ::marker {
    color: #268110;
    font-weight: bold;
    font-size: 1.17em; /* Taille h3 */
}

#listeprojet ::marker {
    font-weight: bold;
    font-size: 1.5em; /* Taille h2 */
}

h3 {
    color: #268110;
}

#projets > h1 {
    color: #268110;
}

#projets {
    padding: 15px;
    padding-top: 1px;
    position: relative;
    margin: 20px;
    margin-bottom: 8vh;
    background-color: #ffffff;
    border-radius: 10px;
    border: #1c1515;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#projets:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#pA {
    padding: 15px;
    padding-top: 1px;
    padding-left: 4vh;
    position: relative;
    margin: 15px;
    margin-left: -3vh;
    background-color: #fff8f8;
    border-radius: 10px;
    border: #1c1515;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#pA:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}


#pB {
    padding: 15px;
    padding-top: 1px;
    padding-left: 4vh;
    position: relative;
    margin: 15px;
    margin-left: -3vh;
    background-color: #fff8f8;
    border-radius: 10px;
    border: #1c1515;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#pB:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}


#pC {
    padding: 15px;
    padding-top: 1px;
    padding-left: 4vh;
    position: relative;
    margin: 15px;
    margin-left: -3vh;
    background-color: #fff8f8;
    border-radius: 10px;
    border: #1c1515;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#pC:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}