body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #268110;
    left: 0px;
    right: 0px;
    padding: 5px;
    position: fixed;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
}

footer p {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: #268110;
    color: white;
    margin-right: 0px;
    margin-left: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 60px;
    margin-left: 20px;
}

.nav-logo, .nav-right {
    flex: 0 0 200px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav li {
    padding: 5px;
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}