body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #268110;
    left: 0px;
    right: 0px;
    padding: 5px;
    position: fixed;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
}

footer p {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

header {
    min-width: 400px;
    top: 0;
}

nav {
    background-color: #268110;
    color: white;
    margin-right: 0;
    margin-left: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
}

nav ul {
    margin-left: -200px;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

nav li {
    margin: 2vh 2vw;
    display: flex;
    align-items: center;
}

nav li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.nav-logo img {
    height: 60px;
    background-color: #268110;
    margin-left: 30px;
    padding: 0;
    justify-content: unset;
}